@{


}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - FlightBite.MVC</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="icon" type="image/x-icon" href="./images/flight-bite-logo.svg"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flightbite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/flightbite_css_variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FlightBite.MVC.styles.css" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>
    <section class="header-section">
        <header class="header page-content page-content--max-1440">
            <div class="header__logo" style="margin-top: 8px;">
                <img src="~/images/flight-bite-logo.svg" />
            </div>
            <div class="header__nav-bar">

                <a class="nav__menu" is-active-route asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">
                    <span class="icon-home"></span>
                    <div>Enquiries</div>
                </a>
                <a class="nav__menu" is-active-route asp-area="SuperAdmin" asp-controller="Client" asp-action="Index">
                    <span class="icon-airplane"></span>
                    <div>Clients</div>
                </a>
                <a class="nav__menu" is-active-route style="position: relative">
                    <span class="icon-bell"></span>
                    <span class="icon-counter">5</span>
                    <div>Notificataions</div>
                </a>
                <div class="header__profile-photo">
                    <img src="~/images/profile-photo.png" />
                </div>
            </div>
        </header>
    </section>


    @*    <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FlightBite.MVC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>

    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Super Admin</a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </header>*@

    <main role="main">
        @RenderBody()
    </main>
    @*
    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - FlightBite.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/superadmin.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
