<section class="client-information">
    <div class="page-content page-content--max-1440">
        <div style="padding: 24px 0px">
            <span asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</span> 
            <i class="icon-chevron-right"></i>
            <span>Client List</span>
            <i class="icon-chevron-right"></i>
            <span>Client Information</span>
        </div>
        <div class="client__information__header flex--has-gap">
            <div class="header__section_1">
                <h2>Client Name</h2>
                <div class="superuser__body__provider">
                    Provider
                    <span style="background-color: var(--brand-1)">Api</span>
                </div>
                <div class="flex flex--has-gap flex--is-wrap">
                    <button class="btn btn--brand-1">
                        <div class="superuser__body__notes">
                            <div style="position: relative">
                                <span class="icon-file-text2"></span>
                                <div class="counts">2</div>
                            </div>
                        </div>
                        Notes
                    </button>
                    <button class="btn btn--brand-1">
                        <div class="superuser__body__notes">
                            <div style="position: relative">
                                <span class="icon-bubbles"></span>
                                <div class="counts">2</div>
                            </div>
                        </div>

                        Messages
                    </button>
                    <button class="btn btn--brand-1">Analytics</button>
                    <button class="btn btn--success">Edit Client</button>
                </div>
            </div>
            <div class="header__section_2">
                <img src="/images/tavel-logo.svg" alt="" />
            </div>
        </div>
        <div class="client__information__details grid grid--margin-top grid--margin-bottom">
            <div class="client_information_card client_information_card_1 grid__col grid__col-md-6 grid__col-xl-4">
                <div class="h3">Company Details</div>
                <div class="client__name">
                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>
                </div>
            </div>

            <div class="client_information_card client_information_card_2 grid__col grid__col-md-6 grid__col-xl-4">
                <div class="h3">Company Details</div>
                <div class="client__name">
                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                    <div>
                        <div><small>Company Name</small></div>
                        <div>Rik Travel</div>
                    </div>

                </div>
            </div>

            <div class="client_information_card client_information_card_3 grid__col grid__col-md-6 grid__col-xl-4">
                <div class="flex flex--distribute flex--align-center">
                    <div class="h3">Company Details</div>
                    <button class="btn btn--brand-1 flex flex--has-gap"
                            style="display: flex">
                        Docs
                        <div class="superuser__body__notes">
                            <div style="position: relative">
                                <span class="icon-file-text2"></span>
                                <div class="counts" style="background-color: var(--success)">
                                    2
                                </div>
                            </div>
                        </div>
                    
                    </button>
                </div>

                <div class="flex flex--is-column flex--has-sm-gap">
                    <div class="checkbox">
                        <input type="checkbox" id="Agreement" />
                        <label for="Agreement">FlightBite Agreement Signed</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="Document" />
                        <label for="Document">Required Documnets Added And Signed Off</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>