<div class="modal"
     id="toggle-modal">
    <div class="modal__container"
         id="modal-container"
         style="transform: translateY(0%) !important">
        <div class="modal__header flex flex--distribute flex--align-center">
            <div class="h3">Client Name</div>
            <div class="" style="cursor: pointer">
                <span class="icon-cross" id="cross-icon"></span>
            </div>
        </div>
        <div class="modal__body">
            <div class="input-item input-item--full-width input-item--has-icon"
                 style="width: 100%">
                <label>Find a Hotel</label>
                <div class="flex flex--distribute flex--align-center flex--has-gap">
                    <div style="width: 100%">
                        <select name="" id="">
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                        </select>
                        <i class="icon-chevron-down"></i> 
                    </div>
                    <div class="superuser__body__notes flex">
                        <div style="position: relative">
                            <span class="icon-file-text2"></span>
                            <div class="counts" style="background-color: var(--success)">
                                3
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="superuser__body__provider" style="margin-top: 32px;">
                Provider
                <span style="background-color: var(--brand-1)">Api</span>
            </div>

            <div class="flex flex--has-gap flex--is-column" style="margin-top: 16px;">
                <div class="flex">
                    <small style="width: 50%;"> <strong> Contact Name </strong></small>
                    <small style="width: 50%;">Rikk Ogden</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> Position / Job Title</strong></small>
                    <small style="width: 50%;">Rikk Ogden</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> Phone Number </strong></small>
                    <small style="width: 50%;">1234567891</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> Email </strong></small>
                    <small style="width: 50%;">rikkogden@zikomo.io</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> ATOL </strong></small>
                    <small style="width: 50%;">1234</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> ABTA </strong></small>
                    <small style="width: 50%;">1234</small>
                </div>
                <div class="flex">
                    <small style="width: 50%;"> <strong> Lead </strong></small>
                    <small style="width: 50%;">Google</small>
                </div>
            </div>

        </div>
    </div>
</div>