@model IEnumerable<EnquiryPlatformModel>
@{
    Layout = null;
}
<div class="modal" id="toggle-modal">
    <div class="modal__container" id="modal-container">

        <div class="modal__header flex flex--distribute flex--align-center hide"  id="form-header">
            <div class="h3">Provider Form</div>
            <div class="h4" style="color: var(--brand-1); cursor: pointer" id="back-to-client">
                Back
            </div>
        </div>

        <div class="modal__header flex flex--distribute flex--align-center" id="client-header">
            <div class="h3">I AM A</div>
        </div>

        <div class="modal__body">

            <div id="type-of-client">
                
                <div>
                    <label class="radio-button-container">
                        Flight Provider / Consolidator
                        <input type="radio" id="provider" value="provider" name="radio" onclick="selectClientType(this.value)" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div style="margin-top: 16px;">
                    <label class="radio-button-container">
                        Travel Agent
                        <input type="radio" id="agent" value="agent" name="radio" onclick="selectClientType(this.value)" />
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex flex--align-center" style="justify-content:center">
                    <button class="btn btn--brand-1" style="margin-top:16px;" onclick="SelectedClient()">  Submit </button>
                </div>
            </div>

            <div class="hide" id="client-form">

                <div class="flex flex--is-column flex--has-gap ">
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>Company / Group Name</label>
                            <input type="text"
                                   placeholder="Company / Group Name"
                                   aria-autocomplete="list" />
                        </div>
                    </div>
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>ATOL</label>
                            <input type="text"
                                   placeholder="ATOL"
                                   aria-autocomplete="list" />
                        </div>
                    </div>

                    <div class="input-item input-item--full-width">
                        <div>
                            <label>IATA</label>
                            <input type="text"
                                   placeholder="IATA"
                                   aria-autocomplete="list" />
                        </div>
                    </div>
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>Position / Job Title </label>
                            <input type="text"
                                   placeholder="Position / Job Title"
                                   aria-autocomplete="list" />
                        </div>
                    </div>
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>Email Address</label>
                            <input type="email"
                                   placeholder="Email Address"
                                   aria-autocomplete="list" />
                        </div>
                    </div>
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>Phone Number</label>
                            <input type="email"
                                   placeholder="Phone Number"
                                   aria-autocomplete="list" />
                        </div>
                    </div>
                    <div>Where did you hear about FlightBite?</div>
                </div>

                <div class="flex flex--is-column flex--has-gap" style="margin-top: 24px;">
                    @foreach (var platform in Model)
                    {
                        <div>
                            <label class="radio-button-container">
                                @platform.Name
                                <input type="radio" name="radio" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    }
                </div>

                <!--!-->
                <div class="flex" style="justify-content: center; margin-top: 16px">
                    <button class="btn btn--brand-1" id="submit-button">Submit</button>
                </div>

            </div>
        </div>
    </div>
    <!--!-->
</div>


