<section class="clients-section">
    <div class="page-content page-content--max-1440">
        <div style="padding: 24px 0px">
            <span asp-area="SuperAdmin" asp-controller="Home" asp-action="Index">Home</span> <i class="icon-chevron-right"></i>
            <span>Client List</span>
        </div>
        <div class="superuser">
            <div class="superuser__header">
                <div class="flex flex--is-wrap flex--distribute">
                    <h1><strong> Clients </strong></h1>
                    <button class="btn btn--success open-modal" data-modal-target="add-new-client-modal">New Client</button>
                </div>
                <div class="flex flex--distribute flex--align-center flex--is-wrap">
                    <div class="flex flex--is-wrap flex--has-gap">
                        <div class="zik-switch">
                            <label>
                                <input type="checkbox" class="zik-swich__input" />
                                <span class="zik-switch"></span>
                            </label>
                            <span>Agents</span>
                        </div>
                        <div class="zik-switch">
                            <label>
                                <input type="checkbox" class="zik-swich__input" />
                                <span class="zik-switch"></span>
                            </label>
                            <span>Provider</span>
                        </div>
                    </div>

                    <div class="input-item input-item--full-width input-item--has-icon input-item--label-inside input-item--is-select"
                         style="min-width: 20%">
                        <div>
                            <select>
                                <option>Select One...</option>
                                <option>Item</option>
                                <option>Item</option>
                            </select>
                            <i class="icon-chevron-down"></i>
                            <label>Label</label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="superuser__body">

                @for (int i = 0; i < 10; i++)
                {
                    <div class="flex flex--align-center flex--distribute flex--is-wrap"
                         style="
                border-bottom: 1px solid var(--grey-2);
                padding-bottom: 8px;">
                        <div class="flex flex--align-center flex--has-gap">
                            <div class="superuser__body__date">
                                <span>Mon 02</span>
                                <span style="font-size: 16px"> <strong> OCT </strong></span>
                                <span>2023</span>
                            </div>
                            <div style="border: 1px solid var(--grey-2)">
                                <img src="~/images/tavel-logo.svg" alt="clients-logo" />
                            </div>
                            <div class="superuser__body__clients-name">
                                <div class="superuser__body__provider">
                                    Provider
                                    <span style="background-color: var(--brand-1)">Api</span>
                                </div>
                                <div style="margin-top: 8px">
                                    <strong>Zikomo Solutions Limited</strong>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex--is-wrap flex--align-center"
                             style="gap: 4rem">
                            <div class="">
                                <div class="superuser__body__notes flex">
                                    <div style="position: relative">
                                        <span class="icon-airplane"></span>
                                        <div class="counts"
                                             style="background-color: var(--warning)">
                                            5
                                        </div>
                                    </div>
                                    <div style="position: relative">
                                        <span class="icon-airplane"></span>
                                        <div class="counts"
                                             style="background-color: var(--success)">
                                            5
                                        </div>
                                    </div>
                                    <div style="position: relative">
                                        <span class="icon-file-text2"></span>
                                        <div class="counts">5</div>
                                    </div>
                                    <div style="position: relative">
                                        <span class="icon-bubbles"></span>
                                        <div class="counts">2</div>
                                    </div>
                                    <div>
                                        <a asp-area="SuperAdmin" asp-controller="ClientInformation" asp-action="Index">
                                            <span class="icon-info"></span>
                                        </a>
                                            <span class="icon-more" style="margin-left: 24px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>



<partial name="_AddNewClientPartial"></partial>