<div class="modal" id="client-details-modal">
    <div class="modal__container" id="enquiry-details">
        <div class="modal__header flex flex--distribute flex--align-center">
            <div class="h3">Client Name</div>
            <div class="" style="cursor: pointer">
                <button class="btn btn--sm close-modal">
                    <span class="icon-cross "></span>
                </button>
            </div>
        </div>

        <div class="modal__body">
            <div class="input-item input-item--full-width input-item--has-icon"
                 style="width: 100%">
                <label>Enquiry Status</label>
                <div class="flex flex--distribute flex--align-center flex--has-gap">
                    <div style="width: 100%">
                        <select name="" id="">
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                            <option value="">In Prgress...</option>
                        </select>
                        <!-- <i class="icon-chevron-down"></i> -->
                    </div>
                    <div class="superuser__body__notes flex" id="open-client-notes-section">
                        <div style="position: relative">
                            <span class="icon-file-text2"></span>
                            <div class="counts" style="background-color: var(--success)">
                                3
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="superuser__body__provider" style="margin-top: 32px">
                Provider
                <span style="background-color: var(--brand-1)">Api</span>
            </div>

            <div class="flex flex--has-gap flex--is-column"
                 style="margin-top: 16px">
                <div class="flex">
                    <small style="width: 50%"> <strong> Contact Name </strong></small>
                    <small style="width: 50%">Rikk Ogden</small>
                </div>
                <div class="flex">
                    <small style="width: 50%">
                        <strong> Position / Job Title</strong>
                    </small>
                    <small style="width: 50%">Rikk Ogden</small>
                </div>
                <div class="flex">
                    <small style="width: 50%"> <strong> Phone Number </strong></small>
                    <small style="width: 50%">1234567891</small>
                </div>
                <div class="flex">
                    <small style="width: 50%"> <strong> Email </strong></small>
                    <small style="width: 50%">rikkogden@zikomo.io</small>
                </div>
                <div class="flex">
                    <small style="width: 50%"> <strong> ATOL </strong></small>
                    <small style="width: 50%">1234</small>
                </div>
                <div class="flex">
                    <small style="width: 50%"> <strong> ABTA </strong></small>
                    <small style="width: 50%">1234</small>
                </div>
                <div class="flex">
                    <small style="width: 50%"> <strong> Lead </strong></small>
                    <small style="width: 50%">Google</small>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__container hide" id="client-name-notes">
        <div class="modal__header">
            <div class="flex flex--distribute flex--align-center">
                <div class="h3">Client Name Notes</div>
                <button class="btn btn--small close-modal" title="close">
                    <i class="icon-cross" aria-hidden="true"></i>
                </button>
            </div>
            <div id="back-to-enquiry-details" style="text-decoration: underline;color: var(--brand-1);margin-top: 16px;">
                Enquiry Details
            </div>
        </div>
        <div class="modal__body">
            <div class="flex flex--align-center flex--distribute flex--is-wrap"
                 style="border-bottom: 1px solid var(--grey-2); padding-bottom: 8px">
                <div class="flex flex--align-center flex--has-gap">
                    <div class="superuser__body__date">
                        <span>Mon 02</span>
                        <span style="font-size: 16px"> <strong> OCT </strong></span>
                        <span>2023</span>
                    </div>
                    <div class="superuser__body__clients-name">
                        <div><strong>Chetan Patel</strong></div>
                        <div>Note Test Goes Here Etc.....</div>
                    </div>
                </div>
                <button class="btn btn--small" title="close">
                    <i class="icon-bin2 h3" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="modal__footer flex flex--align-end flex--distribute flex--is-wrap">
            <div style="width: 85%" class="input-item input-item--full-width">
                <div>
                    <label> Note </label>
                    <input type="text" placeholder="Write Note" />
                </div>
            </div>
            <button class="btn btn--brand-1">Add Note</button>
        </div>
    </div>
</div>