
@*<form>*@

    <div class="modal" id="company-document-modal">

        <div class="modal__container" id="company-document-section">
            <div class="modal__header flex flex--distribute flex--align-center">
                <div class="h3">Company Name</div>
                <div class="" style="cursor: pointer">
                    <button class="btn btn--sm close-modal">
                        <i class="icon-cross"></i>
                    </button>
                </div>
            </div>
            <div class="modal__body">
                <div class="flex flex--has-gap flex--is-column">
                    <div class="company__document">
                        <ul>
                            <li class="company__document__row">
                                <div class="company__document__col company__document-col-1">
                                    <div class="company__document__icon">
                                        <i class="icon-file-text2"></i>
                                    </div>
                                    <div class="company__doucument__name">
                                        <div>Document Name</div>
                                        <small>Word / 128kb</small>
                                    </div>
                                </div>
                                <div class="company__document__col company__document-col-2">
                                    <div class="zik-switch">
                                        <label>
                                            <input type="checkbox" class="zik-swich__input" />
                                            <span class="zik-switch"></span>
                                        </label>
                                        <span>Private</span>
                                    </div>

                                    <div class="company__document__icon">
                                        <i class="icon-download"></i>
                                    </div>
                                    <div class="company__document__icon">
                                        <i class="icon-eye"></i>
                                    </div>
                                    <div class="company__document__icon">
                                        <i class="icon-bin2"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="margin-top: 32px" class="flex flex--distribute">
                    <button class="btn btn--brand-1">Download All (zip)</button>
                    <button class="btn btn--brand-1"  onclick="toggleModalSection('upload-document-section')">Add New Document</button>
                </div>
            </div>
        </div>

        <div class="modal__container hide" id="upload-document-section">
            <div class="modal__header flex flex--distribute flex--align-center">
                <div class="h3">Company Name</div>
                <div class="" style="cursor: pointer">
                    <button class="btn btn--sm" onclick="toggleModalSection('company-document-section')">
                        <i class="icon-cross"></i>
                    </button>
                </div>
            </div>
            <div class="modal__body">
                <div class="flex flex--has-gap flex--is-column">
                    <h2 style="text-align: center">Upload Document</h2>
                    <div class="input-item input-item--full-width">
                        <div>
                            <label>Give it name</label>
                            <input type="text" placeholder="search" />
                        </div>
                    </div>
                    <div>
                        <label class="modal__upload-box" style="height: 380px;" for="upload-icon">
                            <div class="h2">
                                Click to browse your device, or past your agreement text here
                            </div>
                        </label>
                        <input style="" type="file" name="icon-upload" id="upload-icon" />
                    </div>
                </div>
            </div>
            <div style="padding: 24px 48px"
                 class="modal__footer flex flex--align-center flex--distribute">
                <a class=" " style="text-decoration: underline" onclick="toggleModalSection('company-document-section')">Cancel</a>
                <button class="btn btn--brand-1">Save</button>
            </div>
        </div>
    </div>
@*</form>*@