@using FlightBite.Data.Models;
@using FlightBite.Data.Interfaces;
@using FlightBite.MVC.Areas.SuperAdmin.ViewModels;
@model EnquiryMasterModel

<div class="modal" id="client-details-modal-@Model.Id">
    <div class="modal__container" id="client-name-notes">
        <div class="modal__header">
            <div class="flex flex--distribute flex--align-center">
                <div class="h3">Client Name Notes</div>
                <button class="btn btn--small close-modal" title="close">
                    <i class="icon-cross" aria-hidden="true"></i>
                </button>
            </div>
            <div id="back-to-enquiry-details" style="text-decoration: underline;color: var(--brand-1);margin-top: 16px;">
                Enquiry Details
            </div>
        </div>
        <div class="modal__body flex flex--is-column flex--has-gap">
            @for (int i = 0; i < 10; i++)
            {
                <div class="flex flex--align-center flex--has-gap flex--distribute flex--is-wrap"
                     style="border-bottom: 1px solid var(--grey-2); padding-bottom: 8px">
                    <div class="flex flex--align-center flex--has-gap">
                        <div class="superuser__body__date">
                            <span>Mon 02</span>
                            <span style="font-size: 16px"> <strong> OCT </strong></span>
                            <span>2023</span>
                        </div>
                        <div class="superuser__body__clients-name">
                            <div><strong>Chetan Patel</strong></div>
                            <div>Note Test Goes Here Etc.....</div>
                        </div>
                    </div>
                    <button class="btn btn--small" title="close">
                        <i class="icon-bin2 h3" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
        <div class="modal__footer flex flex--align-end flex--distribute flex--is-wrap">
            <div style="width: 85%" class="input-item input-item--full-width">
                <div>
                    <label> Note </label>
                    <input type="text" placeholder="Write Note" />
                </div>
            </div>
            <button class="btn btn--brand-1">Add Note</button>
        </div>
    </div>
</div>